

#courseinfotable {
    display: flex;
    flex-direction: column;
    border: 1rem solid rgb(204, 0, 0);
    padding: 1rem;
    width: 50%;
}
#insertcourseform {
    border: 1rem solid rgb(204, 0, 0);
    padding: 1rem;
    margin: 0 3rem 0 1rem;
    background: rgb(145, 209, 241);
    float: left;
    width: 40%;
  }